:root {
  /* gradients */

  --red-grad: linear-gradient(rgb(59, 130, 246), rgb(37, 99, 235));
  
  /* colors */
  --black-color: #222225;
  --dark-text-color: #464255;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
