:root {
  /* gradients */

  --red-grad: linear-gradient(180deg, #e71b40 0%, #a5001f 100%);

  /* colors */
  --black-color: #222225;
  --dark-text-color: #464255;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
